<div class="modal fade modal-login" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form class="form-vertical" action="" method="post">
        <div class="modal-body">
          <p class="small text-center">
            Sign in with your unique UNIX ID
          </p>
          <div class="form-group">
            <label class="control-label small">UNIX ID:</label>
            <input type="text" class="form-control input-sm" id="login_unixId" capitalize="no" />
          </div>
          <div class="form-group">
            <label class="control-label small">Password:</label>
            <input type="password" class="form-control input-sm" id="login_password" />
          </div>
          <div class="form-group submit">
            <button type="button" class="btn btn-default btn-xs btn-login pull-right">Log In</button>
            <p class="text-center">
              <a href="#">Having trouble logging in?</a>
            </p>
        </div>
      </form>
    </div>
  </div>
</div>
